* {
    margin: 0;
    padding: 0;
}

body {


    font-family: "Gabarito", sans-serif;

}

.navbar {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 15px;
    box-shadow: gray 0px 1px 5px;
    align-items: center;

}

.navbar__s1__title {
    color: #A435F0;
    display: flex;
    align-items: center;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 40%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar__s2 i {
    font-size: 18px;
}

.navbar__s2 input {
    border: none;
    outline: none;
    width: 100%;
    padding-left: 10px;
}

.navbar__s3 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.categories {
    display: flex;
    gap: 20px;
    padding: 15px;
    box-shadow: gray 0px 1px 5px;
    justify-content: space-around;
}

.categories p {
    background-color: #A435F0;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}


.banner img {
    width: 100%;
}

.recomended {
    padding: 10px;

}

.recomended__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    justify-content: flex-start;
}

.course__card {
    width: auto;
    /* Allow cards to form up to 4 columns and wrap naturally without media queries */
    flex: 1 1 22%;
    max-width: calc(25% - 15px);
    min-width: 220px;
    box-shadow: gray 0px 1px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.course__card img {

    height: 60%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.course__card:hover {
    background-color: #9d9d9d;
    color: rgb(0, 0, 0);
    cursor: pointer;

}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    
}

.topics__container p {
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    border-radius: 10px;
}

.popular {
    padding: 10px;
}

.popular__Container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    justify-content: flex-start;
}
.footer{
    padding: 30px;
    background-color: black;
    color: #ffffff;
}
.footer__1{
    display: flex;
    gap: 10px;
}
.footer__1 p{
    margin: 20px;
}

.footer__2{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
